

:root{
	--bs-header-dark-bg:radial-gradient(at 50% -20%,#004987,#013766) fixed;
}

#page-topbar{
	position:-webkit-sticky;
	position:sticky;
	top:0;
	right:0;
	margin-left:255px;
	z-index:1002;
	background-color:var(--bs-header-bg);
	box-shadow:0 2px 3px rgba(52,58,64,.06)
}

.navbar-header{display:flex;
	justify-content:space-between;
	align-items:center;
	margin:0 auto;
	height:85px;
	padding:0 11px 0 0
}

.navbar-header .dropdown .header-item.show{
	color:#776acf;
/*background-color: red !important;*/
}

.navbar-header .navbar-brand-box{
	display:none
}

.verti-dash-content{
	background:var(--bs-header-dark-bg);
	border-top:1px solid hsla(0,0%,100%,.1);
	padding:0 11px
}

/*body[data-topbar=dark] #page-topbar{
	background:var(--bs-header-dark-bg)
}*/